{% extends 'base.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
    <h1 class="bd-grad p-3">Games</h1>

    <div class="container row m-auto">
        {% for game in games %}
            {{ include('game_card/_card.html.twig') }}

        {% else %}
            <tr>
                <td colspan="6">No games in database ...</td>
            </tr>
        {% endfor %}
    </div>


{% endblock %}
